.tournamentPlayersManagerCustomer {
  top: 4.5rem;
  position: absolute;
  float: left;
  width: 100%;
  overflow-y: auto;
  bottom: 0;
  left: 0;
  .listItem{
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #EDEFFC;
    border-radius: 10px;
    padding-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
    float: left;
    width: calc(100% - 3rem);
    &:last-child{
        margin-top: 1.5rem;
    }
  }
  .title {
    border-bottom: 1px solid #e8ebfc;
    padding-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: bolder;
    padding-bottom: 0.9rem;
    margin-bottom: 1.5rem;
    span {
      padding: 0 1rem;
      border-bottom: 3px solid #0d1757;
      width: auto;
      padding-bottom: 0.6rem;
      &.disabled{
        border-bottom: unset;
        margin: 0 1rem;
        color:rgba(102, 102, 102, 1);
        font-weight: 400;
      }
    }
  }
  .innerCont{
    font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem 0; 
  min-height: 55rem;
.leftContent{
  position: relative;
  float: left;
  width: 35rem;
}
.rightContent{
  position: relative;
  float: left;
  width: calc(100% - 35rem);
  padding:0 0 0 1.5rem;
}
  }
}
