.loginModal {
  padding: 10px 20px;
  width: 400px !important;
  position: relative;
}

.loginModalHeader {
  padding: .5rem !important;
}

.loginModalHeaderTitle {
  font-size: 1.71rem;
  color: #333 !important;
}

.loginModalHeaderSubtitle {
  margin: 1rem 0 !important;
  font-size: 1.143rem;
  color: #4D4D4D !important;
  font-weight: 400 !important;
  font-family: Roboto !important;
}

.loginModalContent {
  padding: 1.5rem 0 !important;
}

.loginModalEmailLabel, .loginModalPasswordLabel {
  font-weight: 400 !important;
}

.loginModalPasswordVisibilityIcon {
  position: absolute;
  margin-top: 10px !important;
  margin-left: -30px !important;
  color: #888;
  cursor: pointer;
}

.loginModalForgotPasswordCheckbox {
  display: flex;
  justify-content: space-between;

  & span {
    color: #1F94FF;
    font-weight: 500;
  }
}

.loginModalLoginButton {
  margin: 2rem 0 !important;
  background-color: #0D1757 !important;
  color: #fff !important;
}

.loginModalOauth {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.loginModalOauthItems {
  border: 1px solid #bbb !important;
  color: #0d1757 !important;
}

.loginModalOauthItems i {
  color: #000 !important;
  width: 45px;
}

.loginModalCloseBtn  {
  background:#D9D9D9 !important;
  padding: 8px 0px 8px 8px !important;
  position: absolute;
  top: 1rem;
  right: 20px;
  text-align: center !important;
  margin: 0 !important;
}

.loginModalCloseBtn .close {
  text-align: center !important;
}


.loginModalSignupText {
  font-size: 12px;
  display: block;
  text-align: center;
  margin-bottom: 13px;
}

.loginModalSignupLink {
  color: #2bdede;
  font-weight: 700;
  cursor: pointer;
}

.background-none {
  background: transparent !important;
}

.text-grey {
  color: #888 !important;
}

.no-border {
  border: none !important;
}

.loginModalLoginButtonDivider {
  font-size: smaller !important;
}

.text-underline {
  text-decoration: underline;
}

.text-bold {
  font-weight: 700;
  color: #f7f7f7;
}
