.sendInviteModal{
    padding: 0.2rem 1.5rem;
    .ui.header{
        font-size: 1.5rem;
        padding-left: unset;
        padding-right: unset;
        padding-bottom: 1rem;
        border-bottom-width: 1px;
        color: #12216D;
        font-weight: 700;
    }
    .ui.form .field>label{
        font-weight: 500;
    }
    button.submit{
        float: right;
    margin-bottom: 1.5rem !important;
    font-weight: 500!important;
    }
    button.close{
        position: absolute!important;
        top: 0!important;
        right: 0.5rem!important;
        padding: 0!important;
        color: white!important;
        height: 1.5rem!important;
        width: 1.5rem!important;
        font-size: 1rem!important;
        font-weight: 500!important;

    }
    .content{
        padding: 0 !important;
    margin-top: 1.5rem ;
    }
}